@model PqnLesson10ASP.Models.pqnmonhoc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>pqnmonhoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PqnTenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PqnTenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sotiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sotiet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PqnMaMH }) |
    @Html.ActionLink("Back to List", "PqnIndex")
</p>
